.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.s-head {
  text-align: center;
  margin-bottom: 20px;
}

.s-line {
  margin: 0 auto;
  width: 50%;
}

.student-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.infocard {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.img-container img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .infocard {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .infocard {
    width: calc(100% - 20px);
  }
}
